<div class="container">
    <ul class="advantages-list">
      <li class="advantages-list__item">
        <div class="img-wrapper">
        <img
          src="../images/Desktop/advantages/cow-icon.png"
          alt="cow-image"
          class="advantages-image"
        />
    </div>
        <h3 class="advantages-title">721</h3>
        <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages-list__item">
        <div class="img-wrapper">
        <img
          src="../images/Desktop/advantages/weight-icon.png"
          alt="weight-image"
          class="advantages-image"
        />
    </div>
        <h3 class="advantages-title">16kg</h3>
        <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages-list__item">
        <div class="img-wrapper">
        <img
          src="../images/Desktop/advantages/icecream-icon.png"
          alt="ice-cream-image"
          class="advantages-image"
        />
    </div>
        <h3 class="advantages-title">84</h3>
        <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
</div>