<div class="backdrop is-hidden" data-modal>
  <div class="modal-window">
    <button type="button" class="modal-close-btn button" data-modal-close>
      <svg class="modal-close-btn-icon" width="11" height="11">
        <use href="./images/icons.svg#icon-modal-close-btn"></use>
      </svg>
    </button>
    <form class="modal-form">
      <p class="modal-form-title">Buy now</p>
      <label class="modal-form-field">
        <span class="modal-form-input-box">
          <input
            type="text"
            name="user_name"
            class="modal-form-input"
            required
            pattern="[a-zA-Zа-яА-Я]+"
            minlength="2"
            placeholder="Name"
          />
        </span>
      </label>
      <label class="modal-form-field">
        <span class="modal-form-input-box">
          <input
            type="tel"
            name="user_phone"
            class="modal-form-input"
            required
            pattern="[0-9]{10}"
            minlength="10"
            placeholder="Phone"
          />
        </span>
      </label>
      <label class="modal-form-field">
        <span class="modal-form-input-box">
          <textarea
            name="user_comment"
            class="modal-form-comment"
            placeholder="Comment"
          ></textarea>
        </span>
      </label>
      <button type="submit" class="modal-form-submit">Submit</button>
    </form>
  </div>
</div>
