    <section class="products">
      <div class="container">
        <p class="products__text">100% natural</p>
        <h2 class="products__title">Products</h2>
        <ul class="products__list">
          <li class="products__item">
            <article class="products__card products__card-ice-cream">
              <div class="products__card-thumb">
                <picture>
                  <source
                    srcset="
                      ./images/Desktop/products/icecream-first.png    1x,
                      ./images/Desktop/products/icecream-first@2x.png 2x
                    "
                    media="(min-width: 1200px)"
                  />
                  <source
                    srcset="
                      ./images/Tablet/products/ice-cream-tablet.png    1x,
                      ./images/Tablet/products/ice-cream-tablet@2x.png 2x
                    "
                    media="(min-width: 768px)"
                  />
                  <source
                    srcset="
                      ./images/Mobile/products/ice-cream-mobile.png    1x,
                      ./images/Mobile/products/ice-cream-mobile@2x.png 2x
                    "
                    media="(max-width: 767px)"
                  />
                  <img
                    src="./images/Desktop/products/icecream-first.png"
                    alt="Ice-cream"
                  />
                </picture>
              </div>
              <div class="products__card-footer">
                <h3 class="products__card-title">Ice cream</h3>
                <p class="products__card-text">
                  Soft ice cream with a delicate taste. Made with milk, cream,
                  sugar and natural stabilizer
                </p>
                <svg class="products__card-arrow" width="40px" height="14px">
                  <use href="./images/sprite.svg#icon-Arrow-3"></use>
                </svg>
              </div>
            </article>
          </li>
          <li class="products__item">
            <article class="products__card products__card-ice-coffee">
              <div class="products__card-thumb">
                <picture>
                  <source
                    srcset="
                      ./images/Desktop/products/icecream-coffee.png    1x,
                      ./images/Desktop/products/icecream-coffee@2x.png 2x
                    "
                    media="(min-width: 1200px)"
                  />
                  <source
                    srcset="
                      ./images/Tablet/products/ice-cream-coffee-tablet.png    1x,
                      ./images/Tablet/products/ice-cream-coffee-tablet@2x.png 2x
                    "
                    media="(min-width: 768px)"
                  />
                  <source
                    srcset="
                      ./images/Mobile/products/ice-cream-coffee-mobile.png    1x,
                      ./images/Mobile/products/ice-cream-coffee-mobile@2x.png 2x
                    "
                    media="(max-width: 767px)"
                  />
                  <img
                    src="./images/Desktop/products/icecream-coffee.png"
                    alt="Ice-coffee"
                  />
                </picture>
              </div>
              <div class="products__card-footer">
                <h3 class="products__card-title">Ice coffee</h3>
                <p class="products__card-text">
                  Fragrant invigorating drink created from 100% natural
                  ingredients without the use of preservatives and flavor
                  enhancers
                </p>
                <svg class="products__card-arrow" width="40px" height="14px">
                  <use href="./images/sprite.svg#icon-Arrow-3"></use>
                </svg>
              </div>
            </article>
          </li>
          <li class="products__item">
            <article class="products__card products__card-milkshakes">
              <div class="products__card-thumb">
                <picture>
                  <source
                    srcset="
                      ./images/Desktop/products/milkshake.png    1x,
                      ./images/Desktop/products/milkshake@2x.png 2x
                    "
                    media="(min-width: 1200px)"
                  />
                  <source
                    srcset="
                      ./images/Tablet/products/milkshake-tablet.png     1x,
                      ./images/Tablet/products/milkshake-tablet.@2x.png 2x
                    "
                    media="(min-width: 768px)"
                  />
                  <source
                    srcset="
                      ./images/Mobile/products/milk-shake-mobile.png    1x,
                      ./images/Mobile/products/milk-shake-mobile@2x.png 2x
                    "
                    media="(max-width: 767px)"
                  />
                  <img
                    src="./images/Desktop/products/milkshake.png"
                    alt="Milkshakes"
                  />
                </picture>
              </div>
              <div class="products__card-footer">
                <h3 class="products__card-title">Milkshakes</h3>
                <p class="products__card-text">
                  Sweet drinks based on milk and ice cream, supplemented with
                  syrups, fruits, berries and other sweets of your choice
                </p>
                <svg class="products__card-arrow" width="40px" height="14px">
                  <use href="./images/sprite.svg#icon-Arrow-3"></use>
                </svg>
              </div>
            </article>
          </li>
        </ul>
      </div>
    </section>