.advantages-section{
  background-color:#84A178
}

//------mobile-------//

@media screen and (max-width: 767px) {
  body{
    background-color: #84A178;
}
  .advantages-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-right: 16px;
    margin-left: 16px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 28px;
    
    
  }

  .advantages-list__item {
    display: block;
    position: relative;
    width:230px;
    margin-left: 32px;
    margin-right: 32px;
    justify-content: center;
    align-items: center;
  }
  
  
  
  .img-wrapper {
    left: 40%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #f8d24e;
    border-radius: 25px;
  }
  .advantages-title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 71px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fcfcfc;
    margin-top: 47px;
    padding-bottom: 16px;
  }
  .advantages-text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 176%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fcfcfc;
    margin-bottom: 28px;
  }
}

//------tablet-------//

@media screen and (min-width: 768px) and (max-width:1199px) {
  
  body{
    background-color: #84A178;
}
  .advantages-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .advantages-list {
    list-style-type: none;
    display: flex;
    padding-left: 76px;
    padding-right: 76px;
   padding-inline-start: 0;
   
   align-items: center;
   justify-content: center;
   
   
    
  }

  .advantages-list__item {
    display: block;
    position: relative;
    width: auto;
    gap: 80px;
    margin-left: 32px;
    margin-right: 32px;
    
  }

  .img-wrapper {
    left: 40%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #f8d24e;
    border-radius: 25px;
  }
  .advantages-title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 71px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fcfcfc;
    padding-top: 47px;
    padding-bottom: 16px;
  }
  .advantages-text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 176%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fcfcfc;
    margin-bottom: 28px;
  }
}
//------desktop-------//
@media screen and (min-width: 1200px){
body{
    background-color: #84A178;
}
.advantages-list{
    list-style-type: none;
    display: flex;
    padding: 0;
    
    
    
    
}
.advantages-list__item{
    display:block;
    position: relative;
   width: 368px;
   gap: 32px;
    margin-left: 34px;
    margin-right: 32px;
    justify-content: center;
    align-items: center;
}
.advantages-list__item:hover{
  transform: scale(1.05);
  transition: all 250ms ease-in-out;
}

.img-wrapper{
    
    left: 40%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #F8D24E;
    border-radius: 25px;
}


.advantages-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 71px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FCFCFC;
    padding-top: 47px;
    padding-bottom: 16px;
    
}
.advantages-text{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 176%;
text-align: center;
letter-spacing: 0.02em;
color: #FCFCFC;
}
}