.gallery {
    position: relative;
    background-image: url(../images/Desktop/products/background-ice-cream@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

// div {
//     padding: 0;
//     margin: 0;
// }

.gallery__box{
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.gallery__title {
    display: none;
}

@media (min-width: 768px) {
    .gallery__box{
        height: 958px;
    }
}

@media (min-width: 1200px) {
    .gallery__box{
        max-width:calc(1013px + 0*16px);
        height: 1020px;
    }
}

.slick-carousel {
    position: fixed;
    padding: 0;
    margin: 0;
    transform: translateY(-24px);
}

.gallery__photo {
    width: 100%;
    border-radius: 7.5px;
}

@media (min-width: 768px) {
    .slick-carousel {
        transform: translateY(-164px);
    }

    .gallery__photo {
        border-radius: 18px;
    }
}

@media (min-width: 1200px) {
    .slick-carousel {
        transform: translateY(-94px);
    }

    .gallery__photo {
        border-radius: 24px;
    }
}