.hero__main {
    position: relative;
    background-color: #84A178;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: bottom;
}

@media screen and (min-width: 480px) {
    .hero__main {
        // background-image: url(../images/Mobile/hero/dots-mobile@2x.png);
    }
}

@media screen and (min-width: 768px) {
    .hero__main {
        margin-left: auto;
        margin-right: auto;
        /* background-image: url(./image/images/Tablet/hero/dots-tablet@2x.png); */
        /* background-position: 0 0 ; */
        background-position-y: bottom;
    }
}

@media screen and (min-width: 1200px) {
    .hero__main {
        background-image: none;
        // background-image: url(../images/Desktop/hero/dots-desktop.png);
        /* background-size: contain; */
    }
}


.hero__first {
    position: relative;
}

.hero {
    position: relative;
    padding-top: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: bottom;
    // background-image: url(../images/Mobile/hero/dots-mobile@2x.png);
}

@media screen and (min-width: 480px) {}

@media screen and (min-width: 768px) {
    .hero {
        display: flex;
        width: 100%;
        max-width: calc(768px - 0*16px);
        // background-image: url(../images/Tablet/hero/dots-tablet@2x.png);
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        max-width: 1200px;
        padding-top: 45px;
        // background-image: url(../images/Desktop/hero/dots-desktop@2x.png);
        background-repeat: no-repeat;
        background-size: contain;
        /* background-position: 0 0 ; */
        background-position-y: bottom;
    }
}

.hero__first {
    position: relative;
}

.hero__title {
    margin: 0;
    margin-bottom: 32px;
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: calc(33/26);
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #FCFCFC;
}

@media screen and (min-width: 480px) {}

@media screen and (min-width: 768px) {
    .hero__title {
        font-size: 18px;
        line-height: calc(23/18);
    }
}

@media screen and (min-width: 1200px) {
    .hero__title {
        font-size: 38px;
        line-height: calc(48/38);
    }
}

.hero_title-2 {
    font-size: 34px;
    line-height: 96.5%;
    /* or 33px */
}

@media screen and (min-width: 480px) {}

@media screen and (min-width: 768px) {
    .hero_title-2 {
        margin-top: -5px;
        font-size: 24px;
        line-height: calc(13/24);
    }
}

@media screen and (min-width: 1200px) {
    .hero_title-2 {
        margin-top: 0px;
        font-size: 38px;
        line-height: calc(48/38);
    }
}


.button {
    display: block;
    padding: 2px 5px;
    /* width: 62px;
        height: 24px; */
    align-items: center;
    text-align: center;
    background-color: #84A178;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: calc(10/8);

    /* &:hover,
        &:focus {
            background-color: var(--hero-btn-hover-color);
            border-color: var(--main-color-dark-theme);
        } */
}


.hero__btns-block {

    display: flex;
    margin-bottom: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: calc(10/8);
}

@media screen and (min-width: 480px) {}

@media screen and (min-width: 768px) {
    .hero__btns-block {
        margin-bottom: 28px;
    }
}

.hero__btn-products {
    margin-right: 8px;
    color: #131313;
    border: 2px solid #F8D24E;
    border-radius: 8px;
}

@media screen and (min-width: 480px) {}

@media screen and (min-width: 1200px) {

    .hero__btn-products,
    .hero__btn-how {
        padding: 12px 34px;
        border-radius: 10px;
        margin-bottom: 42px;
    }
}

.hero__btn-products-text {
    color: #131313;
    text-decoration: none;
}

@media screen and (min-width: 480px) {}

@media screen and (min-width: 1200px) {
    .hero__btn-products-text {
        font-size: 14px;
        line-height: calc(18/14);
    }
}

.hero__btn-how {
    color: #F8D24E;
    border: none;
    text-decoration-line: underline;
}

.hero__btn-how-text {
    color: #F8D24E;
    border: none;
}

@media screen and (min-width: 1200px) {
    .hero__btn-how-text {
        font-size: 14px;
        line-height: calc(18/14);
    }
}

@media screen and (min-width: 768px) {
    .hero__plate-text {
        display: flex;
        align-items: center;
        margin-bottom: 13px;
    }
}

@media screen and (min-width: 1200px) {
    .hero__plate-text {
        display: flex;
        align-items: center;
        margin-bottom: 65px;
    }
}

.hero__icecream-plate {
    display: none;
}

@media screen and (min-width: 768px) {
    .hero__icecream-plate {
        display: block;
        margin-right: 33px;
    }
}

/* @media screen and (min-width: 1200px) {
    .hero__icecream-plate {
        margin-bottom: 65px;
    }
} */

.hero__text {
    display: none;
}

@media screen and (min-width: 768px) {
    .hero__text {
        display: block;
        width: 151px;
        /* margin-right: auto; */
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: calc(17/12);

        color: #FCFCFC;
    }
}

@media screen and (min-width: 1200px) {
    .hero__text {
        width: 200px;
        font-size: 14px;
        line-height: calc(20/14);
    }
}

/* @media screen and (min-width: 768px) {
    .hero__svg {
        width: 40px;
        height: 20px;
        
    } */

.hero__arrow {
    display: none;
}

@media screen and (min-width: 768px) {
    .hero__arrow {
        position: absolute;
        display: block;
        bottom: 32px;
        /* transform: translateY(50%); */
        fill: #FCFCFC;
    }
}

@media screen and (min-width: 1200px) {
    .hero__arrow {
        bottom: 111px;
    }

    /* left: 50%;
    transform: translate(-50%, 0);
    fill: var(--secondary-black-color);

    @media screen and (max-width: 767px) {
        bottom: 20px;
    }

    @media screen and (min-width: 768px) {
        bottom: 20px;
    }

    @media screen and (min-width: 1200px) {
        bottom: 60px;
    } */

}

.hero__icecream-smile-block {
    display: flex;
    z-index: 10;
    /* background: rgba(252, 252, 252, 0.44);
    filter: blur(53.681px); */
}

.hero__icecream-smile {
    position: relative;
    bottom: 0;
    /* padding-top: 25px; */
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    /* background: rgba(252, 252, 252, 0.44);
    filter: blur(53.681px);
    z-index: -1; */
}

/* @media screen and (min-width: 480px) {} */

@media screen and (min-width: 768px) {
    .hero__icecream-smile {
        position: absolute;
        bottom: -5px;
        left: calc(418px - 32px);
        z-index: 2;

        /* margin-left: auto;
                        margin-right: auto; */
    }
}

@media screen and (min-width: 1200px) {
    .hero__icecream-smile {
        /* bottom: -5px; */
        left: calc(666px - 0*16px);
    }
}

@media screen and (min-width: 768px) {
    .hero__icecream {
        display: block;

        /* z-index: 0; */
        z-index: 23;
    }
}

.hero__icecream-shadow {
    position: absolute;
    top: -80px;
    left: -40px;
    z-index: 01;
}

@media screen and (min-width: 768px) {
    .hero__icecream-shadow {
        left: -50px;
        z-index: 0;
    }
}

@media screen and (min-width: 1200px) {
    .hero__icecream-shadow {
        top: -80px;
        left: -70px;
        z-index: 0;
    }
}


.hero__icecream {
    display: block;

    /* z-index: 0; */
    z-index: 23;
}


.hero__smile {
    display: none;
}

@media screen and (min-width: 1200px) {
    .hero__smile {
        display: block;
        position: absolute;
        top: 0;
        right: 0px;
        z-index: 25;
    }
}

/* @media screen and (min-width: 480px) {} */


.hero__smile-green {
    display: block;
    position: absolute;
    top: 0;
    left: 71.5px;
    /* left: 0; */
    z-index: 30;
}

@media screen and (min-width: 768px) {
    .hero__smile-green {
        top: 7.5px;
        left: 110px;
    }
}

@media screen and (min-width: 1200px) {
    .hero__smile-green {
        display: none;
    }
}


.hero__smile-orange {
    position: absolute;
    top: 49px;
    left: 25px;
    z-index: 30;
}

/* @media screen and (min-width: 480px) {} */

@media screen and (min-width: 768px) {
    .hero__smile-orange {
        top: 77px;
        left: 40px;
    }
}

@media screen and (min-width: 1200px) {
    .hero__smile-orange {
        display: none;
    }

}

.hero__smile-pink {
    position: absolute;
    top: 76px;
    left: 77px;
    z-index: 30;
}

/* @media screen and (min-width: 480px) {} */

@media screen and (min-width: 768px) {
    .hero__smile-pink {
        top: 119px;
        left: 123px;
    }
}

@media screen and (min-width: 1200px) {
    .hero__smile-pink {
        display: none;
    }
}

.hero__info {
    display: none;
}

@media screen and (min-width: 768px) {
    .hero__info {
        margin: 0;
        padding: 0;
        margin-left: auto;
        /* margin-left: 330px; */
        margin-right: 18px;
        display: block;
        text-align: right;
    }
}

@media screen and (min-width: 768px) {
    .hero__info-list {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .hero__info-list {
        z-index: 20;
    }
}

@media screen and (min-width: 768px) {
    .hero__info-list-dig {
        margin-bottom: 4px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 900;
        font-size: 28px;
        line-height: calc(34/28);
        text-align: right;
        letter-spacing: 0.04em;
        text-transform: uppercase;

        color: #131313;
    }
}

@media screen and (min-width: 1200px) {
    .hero__info-list-dig {
        font-size: 46px;
        line-height: calc(56/46);
    }
}

@media screen and (min-width: 768px) {
    .hero__info-list-places {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: calc(10/8);

        text-align: right;

        color: #FCFCFC;
    }
}

@media screen and (min-width: 1200px) {
    .hero__info-list-places {
        font-size: 14px;
        line-height: calc(17/14);
    }
}