
body {
    margin: 0;
    box-sizing: border-box;

}

.products {
    margin-left: auto;
    margin-right: auto;
    
    // background-position: center;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (max-width: 767px) {
        max-width: 320px;
        background-image: url(../images/Mobile/products/background-ice-cream.jpg);
        background-repeat: repeat-y;
    
          @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {

                background-image: url(../images/Mobile/products/background-ice-cream@2x.jpg);
            }
    }
        
            @media screen and (min-width: 768px) and (max-width: 1199px) {
                max-width: 768px;
                background-image: url(../images/Tablet/products/background-ice-cream.jpg);
        
                @media screen and (min-device-pixel-ratio: 2),
                screen and (min-resolution: 192dpi),
                screen and (min-resolution: 2dppx) {
                    background-image: url(../images/Tablet/products/background-ice-cream@2x.jpg);
                   
                }
            }
        
            @media screen and (min-width: 1200px) {
                max-width: 1200px;
                background-image: url(../images/Desktop/products/background-ice-cream.jpg);
        
                @media screen and (min-device-pixel-ratio: 2),
                screen and (min-resolution: 192dpi),
                screen and (min-resolution: 2dppx) {
                    background-image: url(../images/Desktop/products/background-ice-cream@2x.jpg);
                }
            }

}


.container {
    padding: 0;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 480px) {
        width: 320px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}


.products__text {
    margin: 0;
    padding-bottom: 12px;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 800;
    
    line-height: 1.23;
    
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    color: var(--black);
        @media screen and (max-width: 767px) {
                font-size: 18px;
            }
        
            @media screen and (min-width: 768px) {
                font-size: 22px;
            }
        
            @media screen and (min-width: 1200px) {
               font-size: 30px; 
            }
}
.products__title {
    margin: 0;
    
    font-family: var(--title-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: var(--black);
            @media screen and (max-width: 767px) {
                    padding-bottom: 148px;
                }
            
                @media screen and (min-width: 768px) {
                    font-size: 34px;
                    padding-bottom: 200px;
                }
            
                @media screen and (min-width: 1200px) {
                    font-size: 36px;
                    padding-bottom: 305px;
                }
}
.products__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    list-style: none;
}

 .products__item:not(:first-child) {
    @media screen and (max-width: 767px) {
            margin-top: 164px;
        }
    
        @media screen and (min-width: 768px) {
            margin-left: 16px;
        }
    
        @media screen and (min-width: 1200px) {
            margin-left: 32px;
        }
 }
.products__card {
    position: relative;
    display: block;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);

    @media screen and (max-width: 767px){
        max-width: 280px;
        min-height: 420px;
        border-radius: 24px;
        
    }
    @media screen and (min-width: 768px) {
        width: 224px;
        height: 428px;
        border-radius: 16px;
        
    }
        @media screen and (min-width: 1200px) {
        width: 368px;
        height: 540px;
        border-radius: 24px;
    }
}

.products__card-thumb {
    position: absolute;
    
    left: 50%;
    transform: translate(-50%, 0);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 49px;
    
    border-radius: 50%;
    overflow: hidden;
    z-index: 900;

        @media screen and (max-width: 767px) {
            top: -108px;
            width: 196px;
            height: 195px;
            }

        @media screen and (min-width: 768px) {
            top: -120px;
            width: 198px;
            height: 196px;
        }
        
        @media screen and (min-width: 1200px) {
            width: 300px;
            height: 300px;
            top: -183px;
        }
}
.products__card-ice-coffee::after,
.products__card-ice-cream::after,
.products__card-milkshakes::after {
    margin-left: auto;
    margin-right: auto;
    
    left: 50%;

    transform: translate(-50%, 0);
    position: absolute;
    content: "";
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
    box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);
    z-index: 500;

    @media screen and (max-width: 767px) {
        top:-97px;
    }
    @media screen and (min-width: 768px) {
        top: -109px;
    }

    
    @media screen and (min-width: 1200px) {
        width: 300px;
        height: 300px;
        top: -166px;
    }
}

.products__card-ice-coffee::after {
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
}
.products__card-ice-cream::after {
    background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
}
.products__card-milkshakes::after {
    background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
}
.products__card-footer {
    text-align: center;
}
.products__card-title {
    
    
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 700;
    line-height: 1.23;
    
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    color: var(--secondary-black-color);
        @media screen and (max-width: 767px) {
                font-size: 20px;
                padding: 123px 0 40px 0;
                
            }
        
            @media screen and (min-width: 768px) {
                font-size: 22px;
                padding: 107px 0 40px 0;
            }
        
            @media screen and (min-width: 1200px) {
                font-size: 30px;
                padding: 166px 0 65px;
                
            }
}
.products__card-text {
    padding: 0;
    

    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 400;
    line-height: 1.75;
    
    letter-spacing: 0.04em;
    
    color: var(--secondary-black-color);

    @media screen and (max-width: 767px) {
            font-size: 14px;
            padding: 0 40px;
        }
    
        @media screen and (min-width: 768px) {
        font-size: 14px;
        padding: 0 26px;
        }
    
        @media screen and (min-width: 1200px) {
        font-size: 16px;
        padding: 0 63px;
        }
}

.products__card-arrow {
    position: absolute;
    display: block;
    fill: var(--secondary-black-color);
}
.products__card-ice-cream {
    background-color: #AEC6A5;
}

.products__card-ice-coffee {
    background-color: #EFD478;
}
.products__card-milkshakes {
    background-color: #D6936D;
}



.products__card-arrow:hover {
    width: 50px;
}

.products__card-button:focus .products__card-arrow {
    width: 50px;

}

.products__card-button {
    border-radius: 24px;
    border: none;
    background-color: transparent;
    bottom: 0;
    padding: 0;
    margin: 0 auto;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;

    @media screen and (min-width: 1200px) {
        height: 120px;
    }
}